*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .card-container{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80vh;
} */
/* .content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
} */
